/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

:root {
    --prymary-color: hsl(214, 84%, 56%);
    --text-color: hsl(0, 0%, 31%);
    --bg-color: hsl(0, 6%, 81%);
    --bg-color-opt: hsl(0, 5%, 78%);
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

body.dark {
    --text-color: hsl(0, 0%, 83%);
    --bg-color: hsl(0, 0%, 15%);
    --bg-color-opt: hsl(0, 3%, 21%);
}

html {
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

/* MENU */
.contenedor-header {
    background: var(--prymary-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    color: #fff;
    margin: 30px 15px;
    font-size: 20px;
    transition: .5s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedor-header header nav ul li .btn .switches .toggle-theme .toggle-theme__icon {
    margin: 30px 15px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-header header nav ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.nav-responsive {
    background-color: var(--prymary-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.switches {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-theme__icon {
    margin-right: 0.5em;
    width: 20px;
    background-color: #fff;
    border-radius: 40%;
}

/* SECCION I N I C I O */
.inicio {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(assets/img/javascript.png) center no-repeat;
    /*background-image: url(assets/img/javascript.png);*/
    background-size: cover;
    height: 130vh;
    width: 100%;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: var(--bg-color);
    max-width: 60%;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner .container .row .col .contenedor-img img {
    margin-top: 40px;
    border: 10px solid var(--prymary-color);
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
    color: var(--text-color);
}

.inicio .contenido-banner h2 {
    font-size: 20px;
    font-weight: normal;
    color: var(--text-color);
}

.inicio .contenido-banner .container .row .col .redes a {
    color: var(--text-color);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--text-color);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    color: var(--text-color);
}

.inicio .contenido-banner .container .row .col .redes a:hover {
    background-color: var(--prymary-color);
}

.sobremi {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
    color: var(--text-color);
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: var(--text-color);
    width: 130px;
}

.sobremi .fila .col ul li span {
    background-color: var(--bg-color);
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--text-color);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--text-color);
    position: relative;
    z-index: 10;
    border-radius: 30px;
    text-decoration: none; /* Quitar subrayado */
    display: inline-flex; /* Asegura que se comporte como un botón */
    align-items: center;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--prymary-color);
    z-index: -1;
    transition: 1s;
    border-radius: 30px
}

.sobremi button:hover .overlay {
    width: 100%;
}

/* SECCION S K I L L S */
.skills {
    background-color: var(--bg-color-opt);
    color: var(--text-color);
    padding: 50px 20px;
}

.skills .contenido-seccion {
    max-width: 100%;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.skills h3 {
    font-size: 20px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.tecnology {
    width: 100px;
    margin: 10px 10px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    margin: 10px;
    text-align: center;
}

.project-item img {
    display: block;
    margin: 0 auto;
}

/* SECCION CURRICULUM */
.curriculum {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 50px 20px;
}

.curriculum .contenido-seccion {
    max-width: 1100px;
    margin: auto;
    background-color: var(--bg-color-opt);
    border-radius: 40px;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .fila .izquierda {
    border-right: 2px solid var(--prymary-color);
}

.curriculum .fila .derecha {
    border-left: 2px solid var(--prymary-color);
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: var(--bg-color);
    position: relative;
    border-radius: 10px;
}

.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa {
    color: var(--prymary-color);
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    color: var(--prymary-color);
    margin-bottom: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;
}

.curriculum .fila .izq {
    border-right: 2px solid var(--prymary-color);
    margin-right: 20px;
}

.curriculum .fila .der {
    border-left: 2px solid var(--prymary-color);
    margin-left: 20px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    background-color: var(--prymary-color);
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--prymary-color);
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord {
    height: 2px;
    background-color: var(--prymary-color);
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--prymary-color);
    float: left;
    position: relative;
    bottom: 4px;
}

/* SECCION PORTFOLIO */
.proyectos {
    color: var(--text-color);
    padding: 50px 20px;
    background-color: var(--bg-color-opt);
}

.proyectos .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.proyectos h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.proyectos .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.proyectos .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.proyectos .galeria .proyecto img {
    width: 100%;
    display: block;
}

.proyectos .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28, 182, 152, .8), rgba(28, 182, 152, .8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.proyectos .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.proyectos .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.proyectos .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

/* SECCION CONTACTO */
.contacto {
    /*background-image: url(img/contact_bg.png);*/
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 50px 0;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 18px;
    background-color: var(--bg-color-opt);
    border-radius: 15px;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--text-color);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--text-color);
    position: relative;
    z-index: 10;
    border-radius: 40px;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--prymary-color);
    z-index: -1;
    transition: 1s;
    border-radius: 40px;
}

.contacto button:hover .overlay {
    width: 100%;
}

.contacto .col img {
    width: 100%;
}

.contacto .col .info {
    position: absolute;
    top: 40%;
    background-color: var(--bg-color);
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color-opt);
    border-radius: 15px;
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    color: var(--prymary-color);
    display: inline-block;
    margin-right: 20px;
}

footer {
    background-color: var(--bg-color-opt);
    color: var(--text-color);
    padding: 20px 0 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 10px;
}

footer .redes a {
    color: var(--text-color);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--text-color);
    border-radius: 100%;
    width: 42px;
    height: 25px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a {
    color: var(--text-color);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--text-color);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a:hover {
    background-color: var(--prymary-color);
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--prymary-color);
    color: var(--text-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px) {
    .sobremi .fila {
        display: block;
    }

    .sobremi .fila .col {
        width: fit-content;
    }

    .skills .fila {
        display: block;
    }

    .skills .fila .col {
        width: 100%;
    }

    .skills .fila .col .barra-skill {
        width: 100%;
    }

    .curriculum .fila {
        display: block;
    }

    .curriculum .fila .col {
        width: 90%;
    }

    .curriculum .fila .derecha {
        margin-left: 20px;
    }

    .portfolio .galeria {
        display: block;
        width: 100%;
    }

    .portfolio .galeria .proyecto {
        max-width: 100%;
    }

    .portfolio .galeria .proyecto img {
        width: 100%;
    }

    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100%;
    }
}