<!-- MENU ENCABEZADO -->
<div class="contenedor-header">
    <header>
        <div class="logo">
            <a href="#">GABY_DEV</a>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="#inicio" onclick="seleccionar()">INICIO</a></li>
                <li><a href="#sobremi" onclick="seleccionar()">SOBRE MI</a></li>
                <li><a href="#proyectos" onclick="seleccionar()">PROYECTOS</a></li>
                <li><a href="#contacto" onclick="seleccionar()">CONTACTO</a></li>
                <li>
                    <button class="btn">
                        <div class="switches">
                            <div id="toggle-theme" class="toggle-theme">
                                <img id="toggle-icon" src="assets/img/moon-solid.svg" class="toggle-theme__icon"/>
                            </div>
                        </div>
                    </button>
                </li>

            </ul>
        </nav>
        <div class="nav-responsive" onclick="mostrarOcultarMenu()">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
</div>
<!-- SECCION INICIO -->
<section id="inicio" class="inicio">

    <div class="contenido-banner">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="contenedor-img">
                        <img src="assets/img/user.jpg" alt="">
                    </div>
                </div>
                <div class="col">
                    <h1>GABRIEL HERRERA</h1>
                    <h2>Analista Programador - Programador Back-End</h2>
                    <div class="redes">
                        <a href="https://www.instagram.com/gabyd_ev/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/gabriel-herrera-39aa62243/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="https://github.com/Gabriel272002" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>