<!-- footer -->
<footer>
    <a href="#inicio" class="arriba">
        <i class="fa-solid fa-angles-up"></i>
    </a>
    <div class="redes">
        <a href="https://www.instagram.com/gabyd_ev/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/gabriel-herrera-39aa62243/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://github.com/Gabriel272002" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>

